.main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color-black);
  box-shadow: var(--box-shadow);
  z-index: 100;
}

.main-nav.sticky-nav {
  top: 0;
  transform: translateY(-60px);
  animation: StickyNav 0.3s ease forwards;
}

@keyframes StickyNav {
  0% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0);
  }
}

.nav-container {
  max-width: 75rem;
  margin: 0 auto;
  height: 3.2rem;
  letter-spacing: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 2.3rem;
}

.logo-container {
  color: var(--color-gold);
  font-weight: 700;
  font-size: 1.3rem;
}

.logo-container span {
  color: var(--color-white);
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-link {
  color: var(--color-white);
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: var(--color-gold-ish);
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 21px;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 100%;
  background-color: var(--color-white);
  border-radius: 10px;
  transition: all 0.3s ease;
}

.bar.open:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.bar.open:nth-child(2) {
  opacity: 0;
}

.bar.open:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

@media screen and (max-width: 1200px) {
  .nav-container {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 768px) {
  .nav-container {
    padding: 0 1rem;
  }

  .logo-container span {
    font-size: 1rem;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--color-black);
    flex-direction: column;
    width: 100%;
    max-height: 0;

    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .nav-links.open {
    max-height: 300px;
  }

  .nav-link {
    padding: 1rem;
    text-align: center;
    width: 100%;
  }

  .hamburger {
    display: flex;
  }
}
